h1{
    color: coral;
}
.div{
    border: 1px solid black;
}
.div-1{
    border: 1px solid red;
}
.container_index{
    margin: 0;
}
.menu-platos{
    margin-top: 40px;
    margin-bottom: 30px;
}
.card_1{
    padding: 5px;
    border-top: 30px;
    margin-left: 3.8%;
    margin-right: 3.8%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 15px;
    font-size: 13px;
}
.accordion-propio{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
}
.btn-pediloaca{
    background-color: rgb(255, 255, 95);
    color: black;
    border: 1px solid black;
}
.btn-pediloaca:hover{
    background-color: lightslategray;
    color:rgb(255, 255, 95);
    border: 1px solid black;
}
.link-propio{
    color: brown;
}
.nav-propio{
    background-color: rgb(255, 255, 141);
 
}